{% extends 'User/Head.html'%}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br><br><br><br><br><br>
    <div id="tab">
        <br><br>
    <form action="" method="post">
        {% csrf_token %}
        <table border="4" align="center" style="border-collapse: collapse;" cellpadding="10">
            <tr>
                <td>Name</td>
                <td><input type="text" name="txtname"  value="{{us.name}}"></td>
            </tr>
            <tr>
                <td>Contact</td>
                <td><input type="text" name="txtnumber" value="{{us.contact}}"></td>
            </tr>
            <tr>
                <td>Address</td>
                <td><textarea name="txtaddress">{{us.address}}</textarea></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" name="btn" value="Change" ><input type="reset" name="btn" value="Cancel">
                </td>
            </tr>
            </table>
        </form>
    </div>
</body>
</html>
<br><br><br><br>
{% endblock content %}