{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Pluto - Responsive Bootstrap Admin Panel Templates</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- site icon -->
      <link rel="icon" href="{% static 'Admin/images/fevicon.png' %}" type="image/png" />
      <!-- bootstrap css -->
      <link rel="stylesheet" href="{% static 'Admin/css/bootstrap.min.css' %}" />
      <!-- site css -->
      <link rel="stylesheet" href="{% static 'Admin/style.css' %}" />
      <!-- responsive css -->
      <link rel="stylesheet" href="{% static 'Admin/css/responsive.css' %}" />
      <!-- color css -->
      <link rel="stylesheet" href="{% static 'Admin/css/colors.css' %}" />
      <!-- select bootstrap -->
      <link rel="stylesheet" href="{% static 'Admin/css/bootstrap-select.css' %}" />
      <!-- scrollbar css -->
      <link rel="stylesheet" href="{% static 'Admin/css/perfect-scrollbar.css' %}" />
      <!-- custom css -->
      <link rel="stylesheet" href="{% static 'Admin/css/custom.css' %}" />
      <link rel="stylesheet" href="{% static 'Form/form.css' %}" />
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
   </head>
   <body class="dashboard dashboard_1">
      <div class="full_container">
         <div class="inner_container">
            <!-- Sidebar  -->
            <nav id="sidebar">
               <div class="sidebar_blog_1">
                  <div class="sidebar-header">
                     <div class="logo_section">
                        <a href="index.html"><img class="logo_icon img-responsive" src="{% static 'Admin/images/logo/logoglobal.png' %}" alt="#" /></a>
                     </div>
                  </div>
                  <div class="sidebar_user_info">
                     <div class="icon_setting"></div>
                     <div class="user_profle_side">
                        <div class="user_img"><img class="img-responsive" src="{% static 'Admin/images/layout_img/msg1.png' %}" alt="#" /></div>
                        <div class="user_info">
                           <h6>Livya</h6>
                           <p><span class="online_animation"></span> Online</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="sidebar_blog_2">
                  <h4>General</h4>
                  <ul class="list-unstyled components">
                     <li><a href="{% url 'webadmin:Home' %}"><i class="fa fa-clock-o orange_color"></i> <span>Home</span></a></li>
                     <li class="active">
                        <a href="#dashboard" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-dashboard yellow_color"></i> <span>Add Location</span></a>
                        <ul class="collapse list-unstyled" id="dashboard">
                           <li>
                              <a href="{% url 'webadmin:District' %}"><span> District</span></a>
                           </li>
                           <li>
                              <a href="{% url 'webadmin:Place' %}"> <span>Place</span></a>
                           </li>
                        </ul>
                     </li>
                     
                     <li>
                        <a href="#element" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-diamond purple_color"></i> <span>Hospital Details</span></a>
                        <ul class="collapse list-unstyled" id="element">
                           <li><a href="{% url 'webadmin:Department' %}">> <span>Add Department</span></a></li>
                           <li><a href="{% url 'webadmin:Hospital' %}">> <span>Add Hospital Type</span></a></li>
                           <!-- <li><a href="icons.html">> <span>Icons</span></a></li>
                           <li><a href="invoice.html">> <span>Invoice</span></a></li> -->
                        </ul>
                     </li>
                     <!-- <li><a href="tables.html"><i class="fa fa-table purple_color2"></i> <span>Tables</span></a></li> -->
                     <li>
                        <a href="#apps" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-object-group blue2_color"></i> <span>Hospital Verification</span></a>
                        <ul class="collapse list-unstyled" id="apps">
                           <li><a href="{% url 'webadmin:newhospital' %}">> <span>New Hospital List</span></a></li>
                           <li><a href="{% url 'webadmin:acceptedhospital' %}">> <span>Accepted Hospital List</span></a></li>
                           <li><a href="{% url 'webadmin:rejectedhospital' %}">> <span>Rejected Hospital List</span></a></li>
                        </ul>
                     </li>
                     <li><a href="{% url 'webadmin:Userlist' %}"><i class="fa fa-briefcase blue1_color"></i> <span>View User</span></a></li>
                     <li>
                        <a href="#apps1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-clone yellow_color"></i> </i> <span>Complaint And Feedback</span></a>
                        <ul class="collapse list-unstyled" id="apps1">
                           <li><a href="{% url 'webadmin:Complaint' %}">> <span>Add Complaint type</span></a></li>
                           <li><a href="{% url 'webadmin:viewcomp' %}">> <span>View Complaint and Reply</span></a></li>
                           <li><a href="{% url 'webadmin:viewfeedback' %}">> <span>View Feedback</span></a></li>
                        </ul>
                     </li>
                     
                     <!-- <li><a href="price.html"><i class="fa fa-briefcase blue1_color"></i> <span>Pricing Tables</span></a></li>
                     <li>
                        <a href="contact.html">
                        <i class="fa fa-paper-plane red_color"></i> <span>Contact</span></a>
                     </li>
                     <li class="active">
                        <a href="#additional_page" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-clone yellow_color"></i> <span>Additional Pages</span></a>
                        <ul class="collapse list-unstyled" id="additional_page">
                           <li>
                              <a href="profile.html">> <span>Profile</span></a>
                           </li>
                           <li>
                              <a href="project.html">> <span>Projects</span></a>
                           </li>
                           <li>
                              <a href="login.html">> <span>Login</span></a>
                           </li>
                           <li>
                              <a href="404_error.html">> <span>404 Error</span></a>
                           </li>
                        </ul>
                     </li>
                     <li><a href="map.html"><i class="fa fa-map purple_color2"></i> <span>Map</span></a></li>
                     <li><a href="charts.html"><i class="fa fa-bar-chart-o green_color"></i> <span>Charts</span></a></li>
                     <li><a href="settings.html"><i class="fa fa-cog yellow_color"></i> <span>Settings</span></a></li>
                  </ul> -->
               </div>
            </nav>
            <!-- end sidebar -->
            <!-- right content -->
            <div id="content">
               <!-- topbar -->
               <div class="topbar">
                  <nav class="navbar navbar-expand-lg navbar-light">
                     <div class="full">
                        <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i class="fa fa-bars"></i></button>
                        <div class="logo_section">
                           <a href="index.html"><img class="logo_icon img-responsive" src="{% static 'Admin/images/logo/logoglobal.png' %}" alt="#" /></a>
                        </div>
                        <div class="right_topbar">
                           <div class="icon_info">
                              <!-- <ul>
                                 <li><a href="#"><i class="fa fa-bell-o"></i><span class="badge">2</span></a></li>
                                 <li><a href="#"><i class="fa fa-question-circle"></i></a></li>
                                 <li><a href="#"><i class="fa fa-envelope-o"></i><span class="badge">3</span></a></li>
                              </ul> -->
                              <ul class="user_profile_dd">
                                 <li>
                                    <a class="dropdown-toggle" data-toggle="dropdown"><img class="img-responsive rounded-circle" src="{% static 'Admin/images/layout_img/msg1.png' %}" alt="#" /><span class="name_user">Livya</span></a>
                                    <div class="dropdown-menu">
                                       <!-- <a class="dropdown-item" href="profile.html">My Profile</a>
                                       <a class="dropdown-item" href="settings.html">Settings</a>
                                       <a class="dropdown-item" href="help.html">Help</a> -->
                                       <a class="dropdown-item" href="{% url 'webadmin:Logout' %}"><span>Log Out</span> <i class="fa fa-sign-out"></i></a>
                                    </div>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </nav>
               </div>
               <!-- end topbar -->
               {% block content %}

               {% endblock content %}

                <!-- footer -->
                <div class="container-fluid">
                    <div class="footer">
                       <p>Copyright © 2018 Designed by html.design. All rights reserved.<br><br>
                          Distributed By: <a href="https://themewagon.com/">ThemeWagon</a>
                       </p>
                    </div>
                 </div>
              </div>
              <!-- end dashboard inner -->
           </div>
        </div>
     </div>
     <!-- jQuery -->
     <script src="{% static 'Admin/js/jquery.min.js' %}"></script>
     <script src="{% static 'Admin/js/popper.min.js' %}"></script>
     <script src="{% static 'Admin/js/bootstrap.min.js' %}"></script>
     <!-- wow animation -->
     <script src="{% static 'Admin/js/animate.js' %}"></script>
     <!-- select country -->
     <script src="{% static 'Admin/js/bootstrap-select.js' %}"></script>
     <!-- owl carousel -->
     <script src="{% static 'Admin/js/owl.carousel.js' %}"></script> 
     <!-- chart js -->
     <script src="{% static 'Admin/js/Chart.min.js' %}"></script>
     <script src="{% static 'Admin/js/Chart.bundle.min.js' %}"></script>
     <script src="{% static 'Admin/js/utils.js' %}"></script>
     <script src="{% static 'Admin/js/analyser.js' %}"></script>
     <!-- nice scrollbar -->
     <script src="{% static 'Admin/js/perfect-scrollbar.min.js' %}"></script>
     <script>
        var ps = new PerfectScrollbar('#sidebar');
     </script>
     <!-- custom js -->
     <script src="{% static 'Admin/js/custom.js' %}"></script>
     <script src="{% static 'Admin/js/chart_custom_style1.js' %}"></script>
   </body>
</html>