{% extends 'Consultancy/Head.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br><br><br><br><br><br><br>
    <center>
    <div id="tab">
    <form action="" method="post"><br><br><br>
        <table border="4" align="center" cellpadding="10">
            <tr>
                <td>SI.No</td>
                <td>Slot No</td>
                <td>Date</td>
                <td>Name of User</td>
                <td>Contact Info</td>
                <td>Doctor Name</td>
                <td colspan="8" align="center">Action</td>
            </tr>
            {% for i in data %}
        <tr>
            <td>{{forloop.counter}}</td>
                <td>{{i.slot.slotno}}</td>
                <td>{{i.appointment_date}}</td>
                <td>{{i.user.name}}</td>  
                <td>{{i.user.contact}}</td> 
                <td>{{i.slot.davaillable.doctor.name}}</td>  
                <td><a href="{% url 'consultancy:rejectappointment' i.id %}">Reject</a></td>
                <td><a href="{% url 'consultancy:Cancelappoint' i.id %}">Cancel Appointment</a></td>
        </tr>   
        {% endfor %}
        </table>
    </form>
</div>
</body>
</html>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock content %}s